[% load statics files %]
{% load static %}
{% load staticfiles %}


<!DOCTYPE html>

<html lang="es">

    <head>
<!--        <meta charset="UTF-8">-->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>ECOVIRTUAL</title>
<!--        <link rel="stylesheet" href="css/bootstrap.min.css">-->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    </head>

    <body>
    
       
        <nav class="navbar navbar-expand-lg navbar-light bg-success fixed-top">
          
            
            <a class="navbar-brand">
            <img src="{% static 'app01/logovirtual.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">Recurso Ecologico
            </a>
            
           
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
            
<ul class="navbar-nav">

    <li class="nav-item active">
        <a class="nav-link text-white" href="{% url 'app01:index' %}">Inicio<span class="sr-only">(current)</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'app01:home' %}">Home</a>
    </li>
   
    <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'app01:instructivo' %}">Instructivo</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'app01:bodega_usr' %}">Mi bodega</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'app01:mis_ventas' %}">Mis ventas</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'app01:show_ecocompras' %}" >Mis compras</a>
    </li>
    
     <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'app01:show_ventas_usr' %}">EcoVentas</a>
    </li>

    <li class="nav-item dropdown">
       
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Servicios
        </a>
        
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'app01:empresas' %}">Empresas</a>
        </div>
        
    </li>


    <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'app01:contacto' 0 %}">Contacto</a>
    </li>     

</ul>
            
            </div> 
            
    <div class="btn-group">
       
        <button type="button" class="btn btn-success">Usuario: {{ request.user | upper }}</button>
        
        <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        
        <span class="sr-only">Toggle Dropdown</span>
        
        </button>
        
        <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesion</a>
        <!--
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
        -->
        </div>
        
    </div>
            
        
            <!-- Example split danger button -->
          
        </nav>
         
        <div class="container-fluid py-5">

            <div class="row container-fluid justify-content-center justify-content-md-center py-5">

                {% block contenido %}{% endblock %}

            </div>

        </div>

    
    <footer class="container-fluid bg-success text-center py-2 text-white fixed-bottom">

        <span><a href="www.ecosena.epizy.com" class="href text-white">www.ecosena.epizy.com</a></span>

        <img src="{% static 'app01/logovirtual.png' %}" width="20" height="20"  alt="">

    

    </footer> 
    
    

<!--
        <script src="jq/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
        
    </body>
    
</html>