{% extends "app01/base.html" %}
{% load static %}

{% block contenido %}



{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Recurso Ecologico</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">

</head>
<body>
    
    <div class="col-xm-12 col-md-4 col-lg-3 card border-success m-3">

<div class="alert alert-success text-center" role="alert"><?php echo $_SESSION ['user'];?></div>

<form class="form" action="reg_item_usr.php" method="post" onsubmit="return validar_elements();" >
    <div class="form-group row align-items-center">
        <div class="col">
            <label >ITEM</label>
        </div>
        <div class="col-auto">
            <select name="seleccion">
                <option value="">Seleccionar item</option>
                <option value="Celular">Celular</option>
                <option value="Disco (de escritorio)">Disco (de escritorio)</option>
                <option value="Disco (de portatil)">Disco (de portatil)</option>
                <option value="Tapa envase">Tapa envase</option>
                <option value="Lata envase">Lata envase</option>
                <option value="Bateria (de celular)">Bateria (de celular)</option>
            </select>
        </div>
    </div>   
    <div class="form-group row align-items-center">
        <div class="col">
            <label >CANTIDAD</label>
        </div>
        <div class="col-auto">
            <input type="text" name="cantidad">
        </div>
     </div>
    <div class="form-group row align-items-center justify-content-center">
        <div class="col-auto">
        <input class="btn btn-success  btn-block" type="submit" value="insertar" />
        </div>
        <div class="col-auto">
        <input class="btn btn-success  btn-block" type="reset" value="Limpiar" />
        </div>
    </div>
</form>

</div>


<div class="col-xm-12 col-md-7 col-lg-8 card border-success m-3" >   
   


</div>




    
</body>
</html>


{% endblock %}