
{% extends "app01/base.html" %}
{% load static %}

{% block contenido %}
           

           
           
            <div class="container">
         
      <!-- Formulario 1 -->
  
  <div class="container-fluid bg-success">
    <section class="container py-5 mt-5">
      <h3 class="text-uppercase text-center mb-4 pt-5 text-white">Contactenos</h3>
      <p class="lead text-center mb-4 text-white">Este Campo Es Importante Para Nosotros , Escribre Alguna Duda Que tengan Sobre Nosotros Con El Fin De Mejorar</p>
      
          <form action="" class="form-inline flex-column flex-md-row justify-content-center">
            <div class="form-group mx-3 my-3">
              <label for="" class="mx-3 text-white">Usuario:</label>
              <input type="text" placeholder="Nombre de Usuario" class="form-control">
            </div>
            <div class="form-group mx-3 my-3">
              <label for="" class="mx-3 text-white">Email:</label>
              <input type="email" placeholder="Escribe Tu Correo" class="form-control">
            </div>
            <div class="form-group ">
                <label for="" class="mx-3 text-white">Escribe Su Mensaje:</label>
                <textarea class="form-control" placeholder="Escriba Su Mensaje" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="form-group mx-3 my-3">
              <button class="btn btn-primary">Enviar</button>
            </div>
          </form>
    </section>
    
          <div class="row justify-content-center">       
      
            <button type="button" class="btn btn-outline-success">
            <span><a href="https://es-la.facebook.com/" class="href text-white">Facebook</a></span>
            <span class="fab fa-facebook"></span>
            </button>
            
            
            <button type="button" class="btn btn-outline-success">
            <span><a href="https://es-la.facebook.com/" class="href text-white">Twitter</a></span>
            <span class="fab fa-twitter"></span>
            </button>
            
            
            <button type="button" class="btn btn-outline-success">
            <span><a href="https://es-la.facebook.com/" class="href text-white">Google Plus</a></span>
            <span class="fab fa-google-plus-g"></span>
            </button>   
          
      </div>
    
    
  </div>

<script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>
  <!-- fin Formulario 1 -->

</div>
{% endblock %}
