{% extends "app01/base.html" %}
{% load static %}

{% block contenido %}




<div class="col-sm-12 col-md-4 col-lg-4 align-self-center text-center sidenav">

    <p><a href="#" class="badge badge-success">Nuevo juego</a></p>
    <p><a href="#" class="badge badge-success">Continuar juego</a></p>

</div>

<div class="col-sm-12 col-md-4 col-lg-4 embed-container">

    <img src="img/fondo035.jpg" class="img-fluid img-thumbnail">

</div>

<div class="col-sm-12 col-md-4 col-lg-4  text-center sidenav">

<!--
    <p><a href="#">link</a></p>
    <p><a href="#">link</a></p>
    <p><a href="#">link</a></p>
-->
    
    <img class="d-block w-25 img-fluid img-thumbnail" src="img/Imagen-animada-Reciclaje-01.gif" alt="Third slide"> 
    
</div>



{% endblock %}
    

