{% extends "app01/base.html" %}
{% load static %}

{% block contenido %}



<div class="col-sm-12 col-md-4 col-lg-4 align-self-center text-center sidenav">

    <p><a href="#" class="badge badge-success">Opcion_1</a></p>
    <p><a href="#" class="badge badge-success">Opcion_2</a></p>

</div>

<div class="col-sm-12 col-md-4 col-lg-4 ">

    <img src="{% static 'app01/comprador_01_guillermo_ocho.JPG' %}" class="img-fluid img-thumbnail">
                
</div>

<div class="col-sm-12 col-md-4 col-lg-4  text-center sidenav">

<!--
    <p><a href="#">link</a></p>
    <p><a href="#">link</a></p>
    <p><a href="#">link</a></p>
-->
    
    <img class="d-block w-25 img-fluid img-thumbnail" src="{% static 'app01/Imagen-animada-Reciclaje-01.gif' %}" alt="Third slide"> 
    
</div>

{% endblock %}




    