{% extends "app01/base.html" %}
{% load static %}
{% load staticfiles %}

{% block contenido %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Recurso Ecologico</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body>


    

    <div class="container-fluid py-5">

        <div class="row container-fluid justify-content-md-center py-5" style="height:530px">

            <div class="col-sm-12 col-md-3 col-lg-3 card border-success m-2">

                <div class="alert alert-light text-center text-success" role="alert">CON EL DESARROLLO SOSTENIBLE</div>

                <p class="text-left">LA RECONCILIACIÓN ENTRE EL BIENESTAR ECONÓMICO, LOS RECURSOS NATURALES Y LA
                    SOCIEDAD, EVITANDO COMPROMETER LA POSIBILIDAD DE VIDA EN EL PLANETA.</p>

                <img src=" {% static 'app01/Plastico-en%20el%20mar01.jpg' %}" class="img-fluid" alt="Responsive image">

            </div>

            <div class="col-sm-12 col-md-5 col-lg-5 card border-success m-2">

                <div style="overflow : auto">

                    <div class="alert alert-light text-center text-success " role="alert">UNA MORALEJA ECOLOGICA</div>

                    <h4 class="text-center text-secondary">EL NIÑO Y LA ESTRELLA DE MAR</h4>

                    <img src="{% static 'app01/El_nino_y_la_estrella_de_mar_1.png' %}" class="img-fluid rounded mx-auto d-block py-3"
                        alt="Responsive image" width="25%">

                    <p class="bg-light text-justify"><em>Como cada mañana, el hombre se despertó y bajó a pasear por la
                            playa. A diferencia de otros días la orilla estaba repleta de miles de estrellas de mar que
                            se extendían a lo largo de toda la costa.

                            Pensó que ese curioso fenómeno sería consecuencia del mal tiempo y el viento de los últimos
                            días. Se sintió triste por todas aquellas pequeñas criaturas. Sabía que las estrellas de
                            mar tan sólo viven 5 minutos fuera del agua.

                            El hombre continuó caminando absorto en sus pensamientos. De repente se encontró con un
                            niño pequeño que corría de un lado a otro de la arena. Tenía la cara sudorosa y los
                            pantalones remangados. ¿Qué estás haciendo? – Le preguntó el hombre

                            Estoy devolviendo las estrellas al mar, – contestó el niño – Junto todas las que puedo y
                            las lanzo más allá de la rompiente para que no vuelvan de nuevo a la arena.

                            Ya veo – contestó el hombre – pero tu esfuerzo no tiene sentido. Vengo caminando desde muy
                            lejos y hay miles de estrellas ancladas en la arena. Quizá millones. Podrás salvar a unas
                            pocas pero la inmensa mayoría morirá y todo tu esfuerzo no habrá servido para nada. No
                            tiene sentido lo que haces.

                            El niño sorprendido le mostró una pequeña estrella que escondía en la palma de su mano y
                            antes de lanzarla al océano le dijo al hombre: “Para ésta sí que tiene sentido”
                            .</em> </p>
                </div>

            </div>

            <!--
<p class="text-justify">

</p>
-->


            <div class="col-sm-12 col-md-3 col-lg-3 card border-success m-2">

                <div class="alert alert-light text-center text-success" role="alert">LAS 4 R DEL MEDIO AMBIENTE:</div>

                <p text-justify> REUTILIZAR RECICLAR REDUCIR Y RECUPERAR, CADA RESIDUO SOLIDO QUE ALMACENES ES UN
                    RESIDUO MENOS QUE CONTAMINA NUESTRO MEDIO AMBIENTE</p>

                <img class="card-img-top" src="{% static 'app01/contaminacion-oceanica.jpg' %}" alt="Card image cap">

            </div>
        </div>
    </div>

    <footer class="container-fluid bg-success text-center py-2 text-white fixed-bottom">

        <span><a href="www.ecosoftsena.epizy.com" class="href text-white">PROYECTO FORMATIVO ADSI 2018</a></span>

        <!--<img src="img/logovirtual.png" width="20" height="20"  alt="">-->

    </footer>


</body>

</html>
{% endblock %}