{% extends "app01/base.html" %}
{% load static %}

{% block titulo %}Inicio{% endblock %}
{% block titulo2 %}Inicio Principal{% endblock %}

{% block contenido %}

<!DOCTYPE html>

<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Recurso Ecologico</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
    </head>

    <body>
    
     <nav class="navbar navbar-expand-lg navbar-light bg-success fixed-top justify-content-center">
                    
            <a class="navbar-brand text-white">
            <img src="{% static 'app01/logovirtual.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
            Recurso Ecologico </a>
           
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            
      </nav>


<div class="container-fluid py-5">

<div class="row container-fluid justify-content-center py-5">

<div class="col-sm-12 col-md-3 col-lg-3 card border-success mb-3" style="max-width: 18rem;">

<div class="alert alert-success text-center" role="alert">INICIO DE SESIONes</div>

    <form id="login-form" action="{% url 'login' %}" method="post" role="form" style="display: block;">
        {% csrf_token %}
        <div class="form-group">
        <input type="text" name="usr_name" tabindex="1" class="form-control" placeholder="Usuario" value="">
        </div>
        
        <div class="form-group">
        <input type="password" name="password" tabindex="2" class="form-control" placeholder="Contraseña">
        </div>
        
        <div class="form-group text-center">
        <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
        <label for="remember"> Recordarme</label>
        </div>
        
        <div class="form-group">
        <div class="row justify-content-center">
        <div class="col-sm-6 col-sm-offset-3">
<!--        <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login btn-success" value="Iniciar sesión ">-->
<button type="submit" class="btn btn-success btn-lg active">Registrarse</button>
        </div>
        </div>
        </div>
        
        <div class="form-group">
        <div class="row">
        <div class="col-lg-12">
        <div class="text-center">
        <a href="http://phpoll.com/recover" tabindex="5" class="forgot-password">¿Has olvidado tu contraseña?</a>
        </div>
        </div>
        </div>
        </div>
        
    </form>
            
</div>

<div class="col-sm-12 col-md-6 col-lg-6">
    
<div class="jumbotron alert alert-success" role="alert">
  <h1 class="display-4 text-center text-success">BIENVENIDOS!</h1>
  <p class="lead text-justify text-success font-monospac">RECURSO ECOLOGICO es un sitio que desea incentivar a las personas a implementer una practica inteligente de los reciduos solidos urbanos con el fin ayudar al medio ambiente y mejorar su calidad de vida.</p>
  <hr class="my-4">
<!--  <p>La generación per cápita de residuos sólidos se mide en términos de la cantidad de kilogramos que genera una persona por día, los latinoamericanos generamos 0.63 kg/hab./día.</p>-->
  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
    MISIO Y VISION
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   
    <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">MISION</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    
    <div class="modal-body">
    <p>Fomentar la reconciliacion y el equilibrio entre el bienestrar economico, los recursos naturales y la sociedad teniendo como principal objetivo incrementar la cultura ambiental de los ciudadanos.</p>

    <h5 class="modal-title" id="exampleModalLabel">VISION</h5>

    <p>Integrar en la cultura ciudadana el manejo inteligente de los elementos producidos por nuestro consumo logrando mejorar la calidad de vida y la recuperacion del medio ambiente.</p>

    </div>
    
    <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <!--        <button type="button" class="btn btn-primary">Save changes</button>-->
    </div>
    </div>
    </div>
    
</div>
    
</div>

    </div>

<div class="col-sm-12 col-md-3 col-lg-3 card border-success mb-3" style="max-width: 18rem;">
    
    <div class="alert alert-success text-center" role="alert">NUEVO USUARIO</div>

    <form id="register-form" action="/" method="post" role="form" style="display: block;">
       
        <div class="form-group">
        <input type="text" name="usr_name" id="usr_name" tabindex="1" class="form-control" placeholder="Usuario" value="">
        </div>
        
        <div class="form-group">
        <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Correo electronico" value="">
        </div>
        
        <div class="form-group">
        <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Contraseña">
        </div>
        
<!--
        <div class="form-group">
        <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirmar contraseña">
        </div>
-->
        
        <div class="form-group">
        <div class="row justify-content-center">
        <div class="col-sm-6 col-sm-offset-3">
        <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register btn-success btn-block" value="Crear cuenta">
        </div>
        </div>
        </div>
        
    </form>

</div>


<footer class="container-fluid bg-success text-center py-2 text-white fixed-bottom">

        <span><a href="www.ecosoftsena.epizy.com" class="href text-white"><a>PROYECTO FORMATIVO ADSI 2017</a></a></span>

<!--        <img src="img/logovirtual.png" width="20" height="20"  alt="">-->

    </footer> 

        <script src="jq/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
          
    </div>
        </div>
          
                   
    </body>
    
</html>

{% endblock %}
