{% extends "app01/base.html" %}
{% load static %}

{% block contenido %}

 


<div class="col-sm-12 col-md-3 col-lg-3 card border-success m-2">

 <div class="alert alert-light text-center text-success" role="alert">PET</div>
 
 <p class="text-left">El PET (polietileno tereftalato) es un polímero de condensación termoplástico y material muy usado en la producción de una gran diversidad de envases de bebidas, como los refrescos, y fibras textiles..</p>
 
 <img src="{% static 'app01/botella_pet.jpg' %}" class="img-fluid" alt="Responsive image">
   
</div>
 
<div class="col-sm-12 col-md-5 col-lg-5 card border-success m-2">
     
       <div class="alert alert-light text-center text-success " role="alert">INSTRUCTIVO</div>
     
<div style="overflow : auto">
 
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{% static 'app01/Slide1.JPG' %}" alt="First slide">
    </div>                            
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'app01/Slide2.JPG' %}"  alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'app01/Slide3.JPG' %}"  alt="Third slide">
    </div>
      <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'app01/Slide4.JPG' %}"  alt="Third slide">
    </div>
      <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'app01/Slide5.JPG' %}"  alt="Third slide">
    </div>
      <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'app01/Slide6.JPG' %}"  alt="Third slide">
    </div>
      <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'app01/Slide7.JPG' %}"  alt="Third slide">
    </div>
      <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'app01/Slide8.JPG' %}"  alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

</div>
</div>

<!--
<p class="text-justify">

</p>
-->


   <div class="col-sm-12 col-md-3 col-lg-3 card border-success m-2" >
    
    <div class="alert alert-light text-center text-success" role="alert">NO ARROJAR BASURAS AL MAR!!:</div>
    
    <p text-justify> MILES DE ANIMALES MARINOS SE VEN DAMNIFICADOS , Y UNOS DE LOS ANIMALES MAS DAMNIFICADAS SON LAS TORTUGAS YA QUE ABSORVEN GRANDES CANTIDADES DE PETROLEO Y ESO LLEVA A SU MUERTE Y OTRAS CAUSAS</p>
    
    <img class="card-img-top" src="{% static 'app01/TORTUGA.jpg' %}" alt="Card image cap">
  
</div>
 
   
{% endblock %}

   