{% extends "app01/base.html" %}
{% load static %}

{% block contenido %}


<div class="col-xm-12 col-sm-10 col-md-5 col-lg-5 card border-success" style="max-width: 21rem;">

<div class="alert alert-success text-center" role="alert">RECICLAJE</div>

<form class="form" action="insert_item.php" method="post" onsubmit="return validar_elements();" >

  <div class="form-group row align-items-center">
  
  <div class="col">
  <label class="col-form-label">ITEM</label>
  </div>
  
  <div class="col-auto">
  <input type="text" class="form-control" id="item" name="item" placeholder="item">
  </div>
  
  </div>
  
  <div class="form-group row align-items-center">
  
  <div class="col">
  <label>TIPO</label>
  </div>
  
  <div class="col-auto">
  <input type="text" class="form-control" id="type" name="type" placeholder="type">
  </div>
  
  </div>

  <div class="form-group row align-items-center">
  
  <div class="col">
  <label>PESO</label>
  </div>
  
  <div class="col-auto">
  <input type="text" class="form-control" id="peso" name="peso" placeholder="peso">
  </div>
  
  </div>

  <div class="form-group row align-items-center">
  
  <div class="col">
  <label >CANT.</label>
  </div>
  
  <div class="col-auto">
  <input type="text" class="form-control" id="cant" name="cant" placeholder="cant">
  </div>
  
  </div>

  <div class="form-group row align-items-center">
  
  <div class="col">
  <label>ESTADO</label>
  </div>
  
  <div class="col-auto">
  <input type="text" class="form-control" id="estado" name="estado" placeholder="estado">
  </div>
  
  </div>
  
  <div class="form-group row align-items-center">
  
  <div class="col">
  <label>VALOR</label>
  </div>
  
  <div class="col-auto">
  <input type="text" class="form-control" id="valor" name="valor" placeholder="valor">
  </div>

<!--
  <select name="estado" id="estado" >
    <option value="">Seleccione</option>
    <option value="1">completo</option>
    <option value="2">averiado</option>
    <option value="3">parte</option>
  </select>
-->
<!--  </div>-->
  </div>
  
  <div class="form-group row align-items-center justify-content-center">
  
  <div class="col-auto">
  
  <input class="btn btn-success  btn-block" type="submit" value="insertar" />
  
  </div>
  
  <div class="col-auto">
  
  <input class="btn btn-success  btn-block" type="reset" value="Limpiar" />
  
    </div>
  
  <span>
  
  <?php

  if(isset($_GET["mensaje"])){
  echo "<script>alert('$_GET[mensaje]');</script>";
  }
  ?>
  </span>
  
  </div>

</form>
 
 
</div>

{% endblock %} 

<div class="col-xm-12 col-sm-10 col-md-7 col-lg-7 py-2">

<?php

include('conexion.php');  
include('consulta_element.php');

?>

</div>







