{% extends "app01/base.html" %}
{% load static %}

{% block contenido %}



<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Recurso Ecologico</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">

</head>
<body>
    
    <?php $mi_id_usr_compra = $_SESSION ['id_user_session'];?>

<div class="alert alert-success text-center" role="alert">ITEMS EN COMPRA</div>
          
<div style="overflow-y: scroll">
           
<table  class='table-sm table-responsive-sm table-bordered bg-success text-white'>
 
    <thead>
    
    <tr>
    <th>ID_COMPRA</th>
    <th>ID_USER</th>
    <th>USUARIO</th>
    <th class="text-center">IMAGEN</th>
    <th>NOMBRE</th>
    <th>TIPO</th>
    <th>PESO GRS.</th>
    <th>CANT.</th>
    <th>VALOR KG</th>
    <th>FECHA</th>
    </tr>
    
    </thead>
            
<tbody>

<?php 
    
include('conexion.php'); 
    
//consulta select con la clausula where especificando solo los registros pertenecientes al usuario en session
    
$sql_compra = "select * from compras c inner join users u on c.id_usr_compra = u.id_user";

$run_compra = mysqli_query ($conex, $sql_compra);

while($row_compra_usr = mysqli_fetch_array($run_compra)){
        
?>  
    <tr>
        
        <td align='center'><?php echo $row_compra_usr["id_compra"];?></td>
        <td align='center'><?php echo $row_compra_usr["id_usr_compra"];?></td>
        <td align='center'><?php echo $row_compra_usr["usr_name"];?></td>
        <td align='center'><img src="/img/uploads/<?php echo $row_compra_usr["img_item_compra></td>         
        <td align='center'><?php echo $row_compra_usr["name_item_compra"];?></td>
        <td align='center'><?php echo $row_compra_usr["tipo_item_compra"];?></td>
        <td align='center'><?php echo $row_compra_usr["peso_item_compra"];?></td>
        <td align='center'><?php echo $row_compra_usr["cant_item_compra"];?></td>
        <td align='center'><?php echo $row_compra_usr["valor_compra_kg"];?></td>
        <td align='center'><?php echo $row_compra_usr["fecha_compra"];?></td>
              
<?php
    
   }
        
?>


</tr>

</tbody>

</table>

</div>
    
</body>
</html>


{% endblock %}
