{% extends "app01/base.html" %}
{% load static %}

{% block contenido %}



<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Recurso Ecologico</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">

</head>
<body>
    
    

<div class="alert alert-success text-center" role="alert">MIS ITEMS EN VENTA</div>
           
<div style="overflow-y: scroll">
           
           
<table class='table-sm table-responsive-sm table-bordered bg-success text-white'>
            
 
    <thead>
    
    <tr>
    <th>ID_VENTA</th>
    <th>ID_USER</th>
    <th>IMAGEN</th>
    <th>NOMBRE</th>
    <th>TIPO</th>
    <th>PESO GRS.</th>
    <th>CANT.</th>
    <th>VALOR VENTA KG</th>
    <th>FECHA</th>
    <th>ELIMINAR VENTA</th>
    </tr>
    
    </thead>
            
<tbody>

<?php 
    

include('conexion.php'); 

//consulta select con la clausula where especificando solo los registros pertenecientes al usuario en session    
    
$sql_venta = "select * from ventas where id_usr_venta = $mi_id_usr";

$run_venta = mysqli_query ($conex, $sql_venta);

while($row_venta_usr = mysqli_fetch_array($run_venta)){
    
    
    
?>  
    <tr>
        
        <td align='center'><?php echo $row_venta_usr["id_venta"];?></td>
        <td align='center'><?php echo $row_venta_usr["id_usr_venta"];?></td>
        <td align='center'><img src="/img/uploads/<?php echo $row_venta_usr["img_item_venta/></td>         
        <td align='center'><?php echo $row_venta_usr["name_item_venta"];?></td>
        <td align='center'><?php echo $row_venta_usr["tipo_item_venta"];?></td>
        <td align='center'><?php echo $row_venta_usr["peso_item_venta"];?></td>
        <td align='center'><?php echo $row_venta_usr["cant_item_venta"];?></td>
        <td align='center'><?php echo $row_venta_usr["valor_venta_kg"];?></td>
        <td align='center'><?php echo $row_venta_usr["fecha_venta"];?></td>
              
        <?php $del_venta = $row_venta_usr["id_venta"];
             
        echo "<td align='center'><a href='del_item_venta.php?drop_item_venta=$del_venta'; class='text-white'/>Eliminar Venta</td>"
            
        ?>    
                
<?php
    
   }
    
?>

</tr>

</tbody>

</table>

</div>
    
</body>
</html>




{% endblock %}